.address-list-container {
  margin-top: 3.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Arial";
}

.address-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.938rem;
  border: 1px solid #e2e2e2;
  border-radius: 0.625rem;
}

.add-new-address-router {
  text-decoration: none;
}

.address-list-header div h2 {
  font-size: 1rem;
}

.add-new-address-btn {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 0.313rem;
}

.address-list-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #e2e2e2;
  border-radius: 0.625rem;
  padding: 1.25rem;
  gap: 1.25rem;
  margin-top: 1.875rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.address-list-address {
  border: 1px solid #e2e2e2;
  border-radius: 0.625rem;
  padding: 1.25rem;
}

.address-list-address div {
  overflow: auto;
}

.address-name {
  font-weight: bolder;
  border-radius: 0.625rem;
  padding: 0.313rem;
}

.ad {
  color: #333333;
  font-size: 1rem;
  margin: 5px 0px 20px 0px;
}

.address-delete-edit-box {
  display: flex;
  justify-content: space-between;
}

.address-delete-box {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.address-delete,
.address-edit {
  font-size: 0.875rem;
}

.address-edit-box {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  gap: 0.188rem;
}

@media screen and (min-width: 1024px) {
  .address-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.125rem;
    font-family: "Arial";
  }

  .address-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 1.25rem;
    border: 1px solid #e2e2e2;
    border-radius: 0.625rem;
  }

  .add-new-address-router {
    text-decoration: none;
  }

  .address-list-header div h2 {
    font-size: 1.5rem;
  }

  .add-new-address-btn {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.438rem;
  }

  .address-list-main {
    width: 80%;
    display: flex;
    border: 1px solid #e2e2e2;
    border-radius: 0.625rem;
    padding: 1.25rem;
    gap: 1.25rem;
    margin-top: 1.875rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .address-list-address {
    border: 1px solid #e2e2e2;
    border-radius: 0.625rem;
    padding: 1.25rem;
  }

  .address-list-address div {
    overflow: auto;
  }

  .address-name {
    font-weight: bolder;
    border-radius: 0.625rem;
    padding: 0.313rem;
  }

  .ad {
    color: #333333;
    font-size: 1rem;
    margin: 5px 0px 20px 0px;
  }

  .address-delete-edit-box {
    display: flex;
    justify-content: space-between;
  }

  .address-delete-box {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }

  .address-delete,
  .address-edit {
    font-size: 0.875rem;
  }

  .address-edit-box {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    gap: 0.188rem;
  }
}
