.checkout-container {
  font-family: "Arial";
}

.chk-basket {
  border: 1px solid #e2e2e2;
  border-radius: 1.25rem;
  padding: 1.25rem;
  margin-top: 1.875rem;
}

.chk-product-router {
  text-decoration: none;
  color: #000;
}

.chk-basket-item {
  display: flex;
  border: 1px solid #e2e2e2;
  border-radius: 1.25rem;
  padding: 1.25rem;
  margin-bottom: 1.25rem;
}

.chk-basket-item:hover {
  opacity: 0.6;
  background-color: #e2e2e2;
  transition: 0.3s all;
}

.chk-product-image img {
  width: 9rem;
  height: 9rem;
}

.chk-product-info-box {
  width: 100%;
  margin-left: 1.25rem;
}

.chk-product-info-box div {
  margin-bottom: 0.625rem;
}

.chk-product-name {
  font-size: 1.25rem;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chk-product-sku {
  color: #cccccc;
  font-size: 1rem;
}

.chk-product-price {
  color: #d33918;
}

.choose-address {
  margin-top: 3.75rem;
}

.checkout-title:first-child {
  margin-top: 3.125rem;
}

.checkout-title {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.chk-address-box {
  margin-top: 1.875rem;
  display: flex;
  gap: 0.625rem;
  border: 1px solid #e2e2e2;
  border-radius: 0.625rem;
  padding: 1.25rem;
}

.set-address {
  margin-top: 3.125rem;
}

.set-address-box {
  border: 1px solid #e2e2e2;
  border-radius: 0.625rem;
  padding: 1.25rem;
  cursor: pointer;
  background-color: #fafafa;
}

.set-address-box:hover {
  background-color: #fff;
  transition: 0.5s all;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.set {
  margin: 0.625rem 0rem;
}

.checkout {
  margin-top: 3.125rem;
}

.shipping-box,
.payment-box {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.shipping-input {
  display: flex;
  gap: 0.938rem;
}

.shipping-radio,
.payment-radio {
  transform: scale(1.5);
}

.chk-total-amount {
  color: #d33918;
  font-weight: bolder;
  font-size: 1.3rem;
}

.chk-discount {
  margin-top: 1.875rem;
}

.discount-code-input {
  padding: 0.625rem;
  border-radius: 0.625rem;
  border: 1px solid #e2e2e2;
  outline: none;
}

.discount-code-btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  border: 1px solid #e2e2e2;
  border-radius: 0.625rem;
  padding: 0.625rem;
}

.chk-pay {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.chk-pay-btn {
  border: none;
  outline: none;
  background: none;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  padding: 0.625rem;
  border: 1px solid #e2e2e2;
  border-radius: 1.25rem;
  min-width: 18.75rem;
  font-size: 1.5rem;
}

.chk-pay-btn:hover {
  background-color: #fff;
  color: #000;
  transition: 0.3s all;
}
