* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-logo {
  text-decoration: none;
  color: #000;
}

.auth-router {
  text-decoration: none;
  color: #000;
}

.basket-title {
  margin-top: 1.25rem;
}

.basket-product-box {
  display: flex;
  margin: 1.875rem 0.313rem;
  padding: 0.625rem;
  width: 100%;
}

.basket-product-box:hover {
  background-color: #e7e9ea;
  transition: 0.3s all;
  .basket-product-image {
    opacity: 0.5;
  }
}

.basket-product-image {
  width: 7.5rem;
  height: 7.5rem;
}

.basket-product-info {
  text-align: left;
  margin-left: 0.313rem;
  width: 100%;
}

.basket-product-info-header {
  display: flex;
  justify-content: space-between;
  margin-right: 0.938rem;
}

.basket-product-info p {
  margin-bottom: 0.625rem;
}

.basket-product-name {
  font-size: 1.25rem;
  font-weight: bolder;
}

.basket-delete-product {
  cursor: pointer;
}

.basket-price-box {
  margin-top: 0.313rem;
}

.basket-product-price {
  color: #d33918;
}

.basket-quantity-container {
  display: flex;
  align-items: center;
  gap: 3.125rem;
}

.basket-quantity-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.basket-quantity-btn {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 1.5rem;
}

.basket-buy-btn {
  margin-top: 1.25rem;
  background: none;
  outline: none;
  color: #fff;
  background-color: #000;
  font-weight: bolder;
  font-size: 1.25rem;
  cursor: pointer;
  border-radius: 1.25rem;
  width: 18.75rem;
  padding: 0.625rem;
  border: 0.063rem solid #e7e9ea;
}

.basket-buy-btn:hover {
  background-color: #fff;
  color: #000;
  transition: 0.3s all;
}
