.os-box {
  text-align: center;
  font-size: 1.5rem;
  padding: 3.125rem;
  border: 1px solid #e2e2e2;
  border-radius: 1.25rem;
  margin-top: 3.125rem;
}

.os-check-icon {
  color: green;
}

.os-order-number,
.os-router-box {
  margin-top: 1.25rem;
}

.os-router {
  text-decoration: none;
  color: #000;
}

.os-router:hover {
  text-decoration: underline;
}
